#container{
    border: 1px solid #001F3F;
    border-radius: 10px;
    width: 27%;
    padding-left: 2%;
    padding-right: 2.5%;
    padding-top: 1%;
    padding-bottom: 2%;
    margin:auto;
    margin-top:1%;
    /* filter: drop-shadow(0 0 10px rgba(0, 123, 255, 0.5)); */
    background-color: #001F3F;
    backdrop-filter: blur(5px);

}
body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    
}
input[type="text"], input[type="email"], input[type="password"]{
   width: 90%;
   border: none;
    
}
form div{
    height: 2.5em;
    padding-left: 3%;
    border: 1px solid white;
    padding-right: 3%;
    border-radius: 4px;
    margin-bottom: 6%;
    margin-top: 2%;
    display: flex;
    flex-direction: row;
    background-color: white;
    width: 96%;
}
#icon{
    margin-left: 5%;
    margin-top: 2%;
    height: 60%;
    color: rgb(202, 202, 202);
}
input:focus{
    outline: none;

}
input[type=checkbox]{
    width: auto;
    margin-right: 2%;
    margin-left: 2%;
    transform: scale(1.2);
    background-color: #001F3F;
    color: white;
    cursor: pointer;
}

form div:focus{
    background-color: white;
    outline: none;
    box-shadow: 0 0 8px rgba(0, 123, 255, 0.8);
    transition: all 0.3s ease;
}

label{
    color: white;
}
button{
    border: none;
    width: 30%;
    height: 2.5em;
    border-radius: 4px;
    color: #001F3F;
    font-size: 90%;
    cursor: pointer;
    font-weight: bold;
     background-color: white;
}
button:hover{
    background:none;
    color: white;
    text-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    transform: scale(1.2);
    transition: all 0.3s ease;
}
button[type="reset"]{

    margin-left: 12%;
    margin-top: 5%;
}

h1{
    text-align: center;
    color: white;
    margin-bottom: 5%;
}
button[type="submit"]{
    margin-left: 15%;

}
#notaccount{
    color: white;
    margin-top: 7%;
    margin-left: 45%;
}
#login-icon{
    background-color: white;
    border-radius: 100%;
    margin-left: 38%;
    margin-top: 5%;
    color: #001F3F;
    width: 5em;
    padding: 5%;
    height: 5em;
}
a{
    text-decoration-line: green;
    font-weight: bolder;
    color: white;

}
a:hover{
    text-decoration-line: none;

}
.span{
    color: red;
}


@media (min-width: 701px) and (max-width: 1170px) {
    #container {
        width: 50%;
        padding-left: 5%;
        padding-right: 5%;
        padding-bottom: 5%;
        margin-top: 10%;
    }
    
}
/* @media (min-width: 300px) and (max-width: 599px) {
    #container {
        width: 80%;
        padding-left: 5%;
        padding-right: 5%;
        padding-bottom: 5%;
        margin-top: 10%;
    }
    
} */
@media (min-width: 300px) and (max-width: 400px) {
    #container {
        width: 90%;
        padding-left: 5%;
        padding-right: 5%;
        padding-bottom: 5%;
        margin-top: 10%;
        padding-top: 10%;
        height: 100%;
    }
    body{
        height:37em;
    }
    
}
@media (min-width: 401px) and (max-width: 700px) {
    #container {
        width: 90%;
        padding-left: 5%;
        padding-right: 5%;
        padding-bottom: 40%;
        margin-top: 10%;
        padding-top: 30%;
        height: 100%;
    }
    body{
        height:37em;
    }
}
